<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Certification" verbose="1" >
    <test name="Challenge1">
        <classes>
            <class name="stg.challenges.Challenge1"/>
        </classes>
    </test>
    <test name="Challenge2">
        <classes>
            <class name="stg.challenges.Challenge2"/>
        </classes>
    </test>
    <test name="Challenge3">
        <classes>
            <class name="stg.challenges.Challenge3"/>
        </classes>
    </test>
    <test name="Challenge4">
        <classes>
            <class name="stg.challenges.Challenge4"/>
        </classes>
    </test>
    <test name="Challenge5">
        <classes>
            <class name="stg.challenges.Challenge5"/>
        </classes>
    </test>
</suite>
